.profile-container {
  width: 100vw;
  margin: auto;
  padding: 0 20px;
  height: 100vh;
  background-color: rgb(225, 245, 255);
  background-position: center;
  background-size: cover;
}
.profile-left{
  height: 100vh;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
  text-align: center;
}
.profile-img{
  transform: scale(8);
  background-image: url("./user.png");
  background-size: 100%;
  border-radius: 100%;
  margin-top: 8rem;
  height: 25px;
  width: 25px;
  margin-left: 50%;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 16%);
}



.Profile-btn-bg{
  background-color: rgb(255 255 255 / 41%);
  border-radius: 16px;
  padding: 40px;
  /* box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 4px #dadada;
  margin-top: 12rem;
}

.profile-buttons {
  text-align: center;
}



.profile-button {

  cursor: pointer;
  width: 52px;
  height: 52px;
  margin: 15px;
  text-align:left;
  overflow: hidden;
  border-radius: 26px;
  transition: all 0.3s ease-out;
  white-space: nowrap;
  padding-left: 14px;
  padding-bottom: 2px;
  background-color: rgb(0, 183, 255);
  border: none;
  box-shadow: 4px 4px 3px #a3a3a3;
}

.profile-button:hover{
  text-align: center;
  width: 312px;
}

.profile-icon{
  transform: scale(1.35);
  margin-right: 10px;
  color: white;
}

.profile-button span{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    /* margin-top: 100px; */
    color: white;
}

.profile-right{
  background-color: white;
  /* background-image: url("./profile.jpg"); */
  /* background-size: contain; */
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
}


.profile-container h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-top: 30px;

}


.profile-container p{
 
  font-size: 28px;
  /* padding: 15px; */
  text-align: left;
  /* width: 44rem; */
  /* margin-top: 18px; */
  line-height: 1.4;
  padding-bottom: 24px;
    
}

.line{
  border-bottom: 2px solid rgba(119, 119, 119, 0.25);
}


.profile-data{
       /* border: 2px solid #cfcfcf; */
    /* width: 20%; */
    padding: 3% 6% 2% 4%;   
    /* trbl */
    /* border-radius: 8px; */
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(231, 231, 231, 0.247);
    /* box-shadow: inset -4px -4px 4px rgb(0 0 0 / 10%), inset 4px 4px 4px rgb(0 0 0 / 10%); */
    box-shadow: 4px 4px 3px #b6b6b64b;
    margin-bottom: 10px;
}


.profile-vector{
  text-align: center;
  background-size: 100%;
  float: right;
  position: relative;
  bottom: 0;
  width: 24rem;
  height: 22rem;
  background-image: url("./profile2.png");
}


@media (max-width: 1400px) {
  .profile-data{
    margin-left: 5%;
  }
}