.product-nav {
  margin-left: 1.85%;
}
.product-container {

   /* width: 75%; */
    left: 20%;
    position: absolute;
    top: 20%;
    display: flex;

}

.product-data-h {
  margin-bottom: 25px;
  color: rgb(41, 41, 41);
  margin-top: 25px;
}
.product-data {
  color: rgb(87, 87, 87);
  margin-bottom: 25px;
}
.product-data-s {
  margin-top: 40px;
  font-size: 21px;
}
.product-size {
  display: flex;
  align-items: center;
}

.product-button {
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #00aeff;
  border-radius: 5px;
  color: white;
  margin-top: 39px;
  margin-bottom: 30px;

}



.product-inp {
  color: black;
  height: 16px;
  width: 16px;
  background-color: grey;
  margin-left: 8px;
  margin-right: 15px;
}

.product-image img{
  max-width: 500px;
  max-height: 450px;
}

.product-image{
  height: 450px;
  width: 450px;
  margin-right: 20px;

}


.product-detailss{

  padding-left: 30px;
}







@media (max-width:750px) {
   
  .product-image img{
    max-width: 350px;
    max-height: 350px;
  }
  

  .product-image{
    height: 300px;
  }
  
}



@media (max-width:1080px) {

  .product-container {
  
    left: 10%;
  
  }
  
  }


  
@media (max-width:880px) {

  .product-container {
  
    left: 5%;
  
  }
  
  }


  @media (max-width:790px) {

    .product-container {
    
      left: 20%;
      display: block;
    
    }
    
    }


    @media (max-width:520px) {

      .product-container {
      
        left: 15%;
        display: block;
      
      }
      
      }


