.product-nav {
  margin-left: 1.85%;
}
.product-container {
  width: 75%;
  margin: auto;
  margin-top: 4%;
}
.product-image {
  width: 90%;
}
.product-data-h {
  margin-bottom: 25px;
  color: rgb(41, 41, 41);
}
.product-data {
  color: rgb(87, 87, 87);
  margin-bottom: 25px;
}
.product-data-s {
  margin-top: 40px;
  font-size: 21px;
}
.product-size {
  display: flex;
  align-items: center;
}

.product-button {
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #00aeff;
  border-radius: 5px;
  color: white;
  margin-top: 39px;
}



.product-inp {
  color: black;
  height: 16px;
  width: 16px;
  background-color: grey;
  margin-left: 8px;
  margin-right: 15px;
}